<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- &lt;!&ndash;加载数据库配置文件&ndash;&gt;
    <properties resource="jdbc.properties"/>

    &lt;!&ndash;配置别名&ndash;&gt;
    <typeAliases>
        <typeAlias type="com.entor.mybatisdemo.po.User" alias="User"/>
    </typeAliases>

    &lt;!&ndash;配置环境&ndash;&gt;
    <environments default="development">
        &lt;!&ndash;配置数据库环境&ndash;&gt;
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    &lt;!&ndash; 映射关系 &ndash;&gt;
    <mappers>
        <mapper resource="UserMapper.xml"/>
        <mapper class="com.entor.mybatisdemo.mapper.NoticeMapper"/>
    </mappers>-->

    <!--配置log4j日志记录-->
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
</configuration>